<!DOCTYPE html>

<html>
  <heade>
    <meta charset="utf-8">
    <title>Help Page</title>
  </heade>
  <body>
    <h1>{{pageTitle}}</h1>
    <p>about us please</p>

    <footer>
      <p>Copyright {{currentYear}}</p>
    </footer>
  </body>
</html>